<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/header.ejs %>

    <h3>About page</h3>
    <p>This site is about express generator, about learning of it.</p>
</body>
</html>
