<!DOCTYPE html>
<html>
<head>
    <title>Contacts</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/header.ejs %>

    <h3>Contacts page</h3>

    <% include templates/contact_details.html %>
</body>
</html>
